.plan-info {
  background: #cc6a27;
  text-align: center;
  font-size: 21px;
  padding: 30px 0;
  color: white;
  position: relative;
}
.plan-info a {
  color: white;
  text-decoration: underline;
}
.plan-info:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(27, 32, 63, 0);
  border-top-color: #cc6a27;
  border-width: 20px;
  margin-left: -20px;
  z-index: 10;
}
#plan {
  padding: 40px;
}
#plan-holder {
  padding: 15px;
}
.floor-nav {
  position: sticky;
  top: 110px;
}
#sortList select {
  background: #e77427;
  color: white;
  padding: 8px 15px;
  font-size: 13px;
}
#roomsList .container {
  border-top: 1px solid #e5e5e5;
}
#roomsList .row {
  background: white;
  position: relative;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0);
  top: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #ececec;
}
#roomsList .row:hover {
  top: -5px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.38);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.38);
}
#roomsList .row div {
  padding: 10px;
  display: flex;
  align-items: center;
}
#roomsList .row div img {
  width: 150px;
}
#roomsList .bttn {
  padding: 14px 60px;
}
#roomsList h2 {
  font-size: 30px;
  margin: 0;
  line-height: normal;
  font-weight: 600;
  color: #03025f;
}
#roomsList h2 a {
  color: #03025f;
}
#roomsList h2 span {
  font-size: 42px;
  font-weight: 600;
}
#roomsList ul {
  width: 100%;
}
#roomsList ul b {
  float: right;
}
#roomsList ul li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#roomsList ul li:last-child {
  border-bottom: 0 solid #ddd;
  margin-bottom: 0;
  padding-bottom: 0;
}
#roomsList .badge {
  font-size: 22px;
  line-height: normal;
  border-radius: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}
#roomsList .badge.room-list-status-1 {
  color: green;
}
#roomsList .badge.room-list-status-2 {
  color: #0063a9;
}
#roomsList .badge.room-list-status-3 {
  color: #b71c1c;
}
#roomsList .badge.room-list-status-4 {
  color: #e17f00;
}
.property #property .contact-form {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.property .property-desc ul li {
  color: #fff;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px 0;
}
.property .property-desc ul li span {
  float: right;
  font-weight: 600;
}
.property .property-desc .bttn {
  border-color: white;
  color: white;
  margin-top: 15px;
}
.property .property-desc .bttn:hover {
  background: #ae935d;
  border-color: #ae935d;
}
.property .property-img {
  padding: 35px 0 0;
}
.property .property-img img {
  border: 10px solid white;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.38);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.38);
}
.property .property-desc {
  background: var(--main-color-blue);
  padding: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.38);
}
#propertyNav a {
  width: 100%;
  padding: 11px 0;
}
#propertyNav .bttn.bttn-sm {
  font-size: 16px;
  padding: 12px 17px;
}
.property-desc {
  position: relative;
}
.property-desc .room-status {
  font-size: 19px;
  text-align: center;
  position: relative;
  margin: 0 0 30px;
  padding: 10px 0 !important;
  text-transform: uppercase;
}
.property-desc .room-status-1 {
  color: white;
  background: #3a9019;
}
.property-desc .room-status-2 {
  color: white;
  background: #1788c9;
}
.property-desc .room-status-3 {
  color: white;
  background: #9f0f12;
}
.property-desc .room-status-4 {
  color: white;
  background: #de8300;
}
#filtr {
  background: var(--main-color-blue);
  padding: 20px 0 30px;
}
#filtr label {
  color: white;
  display: block;
  margin-bottom: 11px;
}
#filtr select {
  border: 0;
  background: white;
  padding: 13px;
  color: var(--main-color-blue);
  font-size: 17px;
}
#filtr .bttn {
  font-size: 17px;
  text-transform: uppercase;
}
#filtr h2 {
  color: #ffa22b;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0 25px;
}
#sortList select {
  width: 230px;
}
/* qTip
================================================== */
.qtip {
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  width: 190px;
  box-shadow: none;
}
.qtip .qtip-content {
  position: relative;
  overflow: hidden;
  text-align: left;
  word-wrap: break-word;
  color: white !important;
  font-size: 14px !important;
  line-height: 19px;
  padding: 10px 10px;
  border-radius: 3px;
}
.qtip .qtip-content b.fr {
  float: right;
}
.qtip .qtip-content h4 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}
.qtip .qtip-content h3 {
  color: #fff;
  font-weight: 600;
  margin: 0 0 9px 0;
  font-size: 17px;
}
.qtip .qtip-content h6 {
  font-weight: 600;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 9px;
  margin-top: 9px;
  margin-bottom: 0;
  font-size: 16px;
}
.qtip .qtip-content hr {
  margin: 10px 0 7px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.qtip .qtip-content li {
  border-bottom: 1px solid #3f3f3f;
  padding: 3px 0;
  font-weight: 300;
}
.qtip .qtip-content li b {
  font-weight: 600;
}
.qtip .qtip-content .floor-stats {
  font-size: 13px;
  line-height: normal;
  text-align: left;
}
.qtip .qtip-content .floor-stats span {
  float: right;
}
.qtip-default .qtip-content {
  border-width: 1px;
  border-style: solid;
  border-color: #183245;
  background-color: #183245;
}
.qtip-tip {
  margin: 0 auto;
  overflow: hidden;
  z-index: 10;
  visibility: hidden;
}
.qtip-tip,
.qtip-tip canvas {
  position: absolute;
  color: var(--main-orange) !important;
  border: 0 dashed transparent !important;
}
.qtip-tip canvas {
  top: 0;
  left: 0;
}
/* Kolory dymkow */
/*
'1' => 'Na sprzedaż',
'2' => 'Rezerwacja',
'3' => 'Sprzedane',
'4' => 'Wynajęte'
 */
.qtip.status-1 .qtip-content {
  background: #25690c;
  border: 1px solid #25690c;
}
.qtip-tip.status-1 canvas {
  background: #25690c !important;
}
.qtip.status-2 .qtip-content {
  background: #1660b3;
  border: 1px solid #1660b3;
}
.qtip-tip.status-2 canvas {
  background: #1660b3 !important;
  color: black;
}
.qtip.status-3 .qtip-content {
  background: #aa1215;
  border: 1px solid #aa1215;
}
.qtip-tip.status-3 canvas {
  background: #aa1215 !important;
}
.qtip.status-4 .qtip-content {
  background: #de8300;
  border: 1px solid #de8300;
}
.qtip-tip.status-4 canvas {
  background: #de8300 !important;
}
@media (max-width: 1399.98px) {
  #roomsList .col img {
    width: 140px;
  }
  #planNav a {
    padding: 11px 0;
    width: 100%;
  }
  #roomsList h2 {
    font-size: 25px;
  }
}
@media (max-width: 1199.98px) {
  #roomsList h2 {
    font-size: 21px;
  }
  #roomsList .col img {
    width: 86px;
  }
  #roomsList ul li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 12px;
  }
  #roomsList .bttn {
    padding: 9px 0;
    width: 100%;
  }
  .property-img {
    margin-bottom: 40px;
  }
  .property-img img {
    width: 300px;
    margin: 0 auto;
  }
  .property .property-desc .bttn {
    margin-top: 0;
  }
}
@media (max-width: 991.98px) {
  #roomsList .row {
    padding: 5px 15px;
  }
  #roomsList h2 {
    font-size: 16px;
  }
  #roomsList .col img {
    width: 80px;
  }
  #roomsList ul li {
    font-size: 10px;
  }
  #roomsList .badge {
    font-size: 18px;
  }
  #roomsList .bttn {
    padding: 6px 0;
  }
  .property #property #contact {
    margin-top: 35px;
  }
  .property .property-img img {
    width: 100%;
  }
  .plan-info {
    font-size: 18px;
    padding: 20px 0;
  }
}
@media (max-width: 767.98px) {
  #roomsList h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
  }
  #roomsList .row {
    padding: 15px;
  }
  #roomsList img {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
  #plan {
    padding: 20px;
  }
  #filtr {
    padding: 15px 0 20px;
  }
  #filtr label {
    font-size: 14px;
  }
  #filtr select {
    padding: 8px 12px;
    font-size: 14px;
  }
  #filtr .bttn {
    font-size: 13px;
  }
  #filtr .bttn.bttn-sm {
    padding: 4px 17px;
  }
}
/* end of 767.98 */
@media (max-width: 575.98px) {
  #property {
    padding: 0;
  }
  .plan-info {
    font-size: 16px;
    padding: 18px;
  }
  .property .property-desc {
    padding: 20px;
  }
  .property .property-desc ul li {
    font-size: 14px;
    padding: 8px 0;
  }
  .property .property-desc .bttn {
    width: 100%;
    padding: 13px 0;
  }
  .property #contact .form-container {
    padding: 25px;
  }
  #property-form .container {
    padding: 0 !important;
  }
  #planNav a,
  #propertyNav a {
    padding: 8px 0;
    width: 100%;
    font-size: 13px;
  }
  #filtr label {
    margin-bottom: 5px;
    margin-top: 7px;
    font-size: 12px;
  }
  #filtr h2 {
    font-size: 20px;
    margin: 10px 0 15px;
  }
}
/*# sourceMappingURL=developro.css.map */